body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  /* font-family: Founders Grotesk,sans-serif; */
}

#box-editable-es, #box-editable-en {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  margin-top: 0.5rem;
  font-weight: 400;
}

#box-editable-es:focus, #box-editable-en:focus {
  outline: 4px solid #2a5495;
}

#box-editable-en[contenteditable]:empty::before {
  content: "Write a description";
  color: #87909c;
  font-weight: 400;
}

#box-editable-es[contenteditable]:empty::before {
  content: "Escriba una descripción";
  color: #87909c;
  font-weight: 400;
}

#btn-animation:active {
  transition: 0.4rem;
  filter: drop-shadow(0px 0px 10px rgba(255, 53, 53, 0.705)) drop-shadow(0px 0px 20px rgba(255, 53, 53, 0.705)) ;
}
